/* Styles pour les balises <h1> à l'intérieur de la classe "corps" */
.corps h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 34px;
}
  
  /* Styles pour les balises <p> à l'intérieur de la classe "corps" */
.corps p {
    color: #666;
    margin-bottom: 20px;
}
  
  /* Styles pour la classe "bureau-members" */
.bureau-members {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
    text-align: center;
}
  
  /* Styles pour les éléments de classe "bureau-member" */
.bureau-member {
    flex: 0 0 200px;
    margin: 10px;
    text-align: center;
}
  
  /* Styles pour les images à l'intérieur des éléments de classe "bureau-member" */
.bureau-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
  
  /* Styles pour la classe "member-info" à l'intérieur des éléments de classe "bureau-member" */
.bureau-member .member-info {
    text-align: center;
}
  
  /* Styles pour les balises <h3> à l'intérieur des éléments de classe "bureau-member" */
.bureau-member h3 {
    color: #333;
    margin: 0 0 5px;
}
  
  /* Styles pour les balises <p> à l'intérieur des éléments de classe "bureau-member" */
.bureau-member p {
    color: #666;
    margin: 0;
}
  
  /* Styles pour la classe "association-info" */
.association-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
  /* Styles pour les images à l'intérieur de la classe "association-info" */
.association-info img {
    width: 200px;
    height: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
  
  /* Styles pour les balises <h2> à l'intérieur de la classe "association-info" */
.association-info h2 {
    color: #333;
    margin: 0;
}
  