body {
    background-image:url(background.jpg);
}
  
.section-heading {
    text-align:center;
    color:#9d3e2fff;
    margin-top: 150px;
    margin-bottom:70px;
    font-size: 35px;
    width: 100%;
}

a{
    text-decoration: none;
}

.corps .logo{
    margin-top: 20px;
    border-radius: 15px;
    width: 1000px;
}

.corps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column-4 {
    text-align:center;
    width: 300px;
    padding: 10px;
    margin:20px;
    height: 150px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Color and Images for Project Containers  */

.case-1 {
    background-color:#9d3e2fff;
    color:#f9f8e5ff;
}

.case-2 {
    background-color: #1bc376ff;
    color:#9d3e2fff;;
}

.case-3 {
    background-color:#f9f8e5ff;
    color:#9d3e2fff;
}