/* Styles pour les titres de niveau 1 */
h1 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #333;
}

p{
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* Styles pour le conteneur Discord */
div.discord {
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Styles pour l'image du logo Discord */
div.discord img {
    max-width: 100%;
    height: auto;
}


/* Styles pour le conteneur "Rejoindre" */
div.rejoindre {
    text-align: left;
    font-size: 30px;
    margin: 0 auto;
    width: 80%;
}

/* Styles pour le bouton Discord */
.discord-button {
    background-color: #7289DA;
    color: #fff;
    padding: 12px 24px;
    margin: auto;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    margin-bottom: 20px;
}

.discord-button:hover {
    background-color: #5865f2;
}

/* Media queries pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
        width: 90%;
    }

    a h1:hover {
        font-size: 40px;
    }

    div.discord {
        text-align: center;
        margin: 1em auto;
        padding-top: 1em;
    }
    
    div.rejoindre {
        text-align: justify;
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
    
    div.corps {
        margin: 0 auto;
        width: 80%;
    }
}    

/* Media queries pour les écrans de petite taille */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
        width: 95%;
    }

    a h1:hover {
        font-size: 35px;
    }

    div.rejoindre {
        font-size: 20px;
        width: 95%;
    }

    div.corps {
        width: 95%;
    }
}
